.header {
    font-family: 'Julee', cursive;
    font-size: 50px;
    color: #ffffff;
    text-align: center; /* Centers the header text */
  }
  
  nav ul {
    list-style: none;  
    margin: 0;         
    padding: 0;        
    
    display: flex;     
    justify-content: center; 
    align-items: center; 
    gap: 70px;         
  }
  

  nav ul li a {
    text-decoration: none;
    color: #ffffff;        
    font-weight: 600;      
    font-size: 1rem;       
    font-family: 'Inter', sans-serif; 

  }
  nav ul li a:hover {
    color: #ffcc00;        
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px 10px;     
    border-radius: 5px; 
    }
    body {
        background-image: url(umair-ali-asad-rRFE8agWJNw-unsplash.jpg);
        background-size: cover;
        background-position: center;    
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
        
        }
        ul{
            list-style-type: none; 
            padding: 0;           
            margin: 0;            
            font-size: 20px;      
            color: #ffffff;       
              
        }
        li{
            margin: 10px 0;      
            padding: 10px;       
            background-color: rgba(151, 27, 27, 0.2); 
            border-radius: 5px;  
            transition: background-color 0.3s ease; 
        }    
        ol{
            list-style-type: decimal; 
            padding-left: 20px;      
            margin: 0;               
            font-size: 20px;         
            color: #ffffff;          
        }      
      h2{
        font-size: 30px;         
        color: #ffffff;          
        margin-bottom: 10px;     
        text-align: center;}